<section class="about">
  <div class="container">
    <div class="about-this">
      <div class="section-title">
        <img
          class="section-title-group"
          src="./img/sectionbox/mobileSectBox.png"
          srcset="
            ./img/sectionbox/mobileSectBox.png    1x,
            ./img/sectionbox/mobileSectBox@2x.png 2x
          "
          alt="group"
        />
        <img
          class="section-title-group-desktop"
          src="./img/sectionbox/sectionbox.png"
          srcset="
            ./img/sectionbox/sectionbox.png    1x,
            ./img/sectionbox/sectionbox@2x.png 2x
          "
          alt="group"
        />
        <h1>About This Game</h1>
      </div>

      <div class="about-content">
        <div class="about-img" data-tilt>
          <img
            class="about-img-mobile"
            src="/img/about/about-img-mob.jpg"
            srcset="
              /img/about/about-img-mob.jpg    1x,
              /img/about/about-img-mob@2x.jpg 2x
            "
            alt="Parallax Image"
            width="200"
            height="200"
          />
          <img
            class="about-img-desktop"
            src="/img/about/about-img.jpg"
            srcset="/img/about/about-img.jpg 1x, /img/about/about-img@2x.jpg 2x"
            alt="Parallax Image"
            width="300"
            height="300"
          />
        </div>

        <div class="about-description">
          <h4>
            "Star Force" is developed by Fusion Star Force Studios, a team of
            passionate game developers dedicated to creating high-quality space
            battle experiences. With cutting-edge graphics, realistic physics,
            and deep strategic elements, Star Force transports players into a
            fully immersive sci-fi universe. Build your fleet, customize your
            weapons, and lead your forces to victory in an ever-expanding galaxy
            of danger and opportunity. Whether you prefer intense PvP duels or
            epic story-driven missions, Star Force delivers an
            adrenaline-pumping adventure for space warriors of all skill levels.
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>
