<section class="container">
  <div class="benefits-title-box">
    <h1 class="benefits-title">Benefits</h1>
    <img
      src="./img/sectionbox.png"
      srcset="./img/sectionbox.png 1x, ./img/sectionbox2.png 2x"
      alt="The section box"
      width="878"
      height="79"
    />
  </div>
  <ul class="benefits-list">
    <li class="benefits-list-item">
      <div>
        <h2 class="benefits-item-title">Epic Space Battles</h2>
        <h4 class="benefits-item-info">
          <span> – </span>Command a fleet of starships and engage in thrilling
          intergalactic warfare.
        </h4>
      </div>
      <img
        class="shadow-right"
        src="./img/benefits/ben1.png"
        srcset="./img/benefits/ben1.png 1x, ./img/benefits/ben1x2.png 2x"
        alt="The starship"
        width="168"
        height="160"
      />
    </li>
    <li class="benefits-list-item reverse">
      <div>
        <h2 class="benefits-item-title">Customizable Starships</h2>
        <h4 class="benefits-item-info">
          <span> – </span>Upgrade your ships with advanced weaponry, shields,
          and unique abilities.
        </h4>
      </div>
      <img
        class="shadow"
        src="./img/benefits/ben2.png"
        srcset="../img/benefits/ben2.png 1x, ./img/benefits/ben2x2.png 2x"
        alt="The starship"
        width="168"
        height="160"
      />
    </li>
  </ul>
</section>
