<section class="container">
  <div class="benefits-title-box">
    <h1 class="benefits-title">Benefits</h1>
    <svg width="878" height="79">
      <use href="./sprite.svg#box"></use>
    </svg>
  </div>
  <ul>
    <li>
      <p>
        <span>Epic Space Battles</span> – Command a fleet of starships and
        engage in thrilling intergalactic warfare.
      </p>
      <img
        src="/img/benefits/benefits1.png"
        srcset="/img/benefits/benefits1Ч2.png 2x"
        alt="Опис зображення"
      />
    </li>
  </ul>
</section>
