<section class="container">
  <h1 class="benefits-title">Benefits</h1>
  <ul class="benefits-list">
    <li class="benefits-list-item">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Epic Space Battles</h2>
        <h4 class="benefits-item-info">
          <span class="dissapear"> – </span>Command a fleet of starships and
          engage in thrilling intergalactic warfare.
        </h4>
      </div>
      <img
        class="shadow-right img-benefits"
        src="./img/benefits/ben1.png"
        srcset="./img/benefits/ben1.png 1x, ./img/benefits/ben1x2.png 2x"
        alt="The starship"
      />
    </li>
    <li class="benefits-list-item reverse">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Customizable Starships</h2>
        <h4 class="benefits-item-info left">
          <span class="dissapear"> – </span>Upgrade your ships with advanced
          weaponry, shields, and unique abilities.
        </h4>
      </div>
      <img
        class="shadow img-benefits"
        src="./img/benefits/ben2.png"
        srcset="./img/benefits/ben2.png 1x, ./img/benefits/ben2x2.png 2x"
        alt="The starship"
      />
    </li>
    <li class="benefits-list-item">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Strategic Gameplay</h2>
        <h4 class="benefits-item-info">
          <span class="dissapear"> – </span>Plan your attacks, defend your
          bases, and outthink your opponents.
        </h4>
      </div>
      <img
        class="shadow-right img-benefits"
        src="./img/benefits/ben3.png"
        srcset="./img/benefits/ben3.png 1x, ./img/benefits/ben3x2.png 2x"
        alt="The starship"
      />
    </li>
    <li class="benefits-list-item reverse">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Immersive Sci-Fi Universe</h2>
        <h4 class="benefits-item-info left">
          <span class="dissapear"> – </span>Explore distant planets, battle
          alien civilizations, and uncover cosmic mysteries.
        </h4>
      </div>
      <img
        class="shadow img-benefits"
        src="./img/benefits/ben4.png"
        srcset="./img/benefits/ben4.png 1x, ./img/benefits/ben4x2.png 2x"
        alt="The starship"
      />
    </li>
    <li class="benefits-list-item">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Global PvP Arena</h2>
        <h4 class="benefits-item-info">
          <span class="dissapear"> – </span>Test your skills against players
          worldwide and climb the leaderboards.
        </h4>
      </div>
      <img
        class="shadow-right img-benefits"
        src="./img/benefits/ben5.png"
        srcset="./img/benefits/ben5.png 1x, ./img/benefits/ben5x2.png 2x"
        alt="The starship"
      />
    </li>
    <li class="benefits-list-item reverse">
      <div class="benefits-text">
        <h2 class="benefits-item-title">Cinematic Visuals</h2>
        <h4 class="benefits-item-info left">
          <span class="dissapear"> – </span>Enjoy breathtaking graphics and
          realistic space combat animations.
        </h4>
      </div>
      <img
        class="shadow img-benefits"
        src="./img/benefits/ben6.png"
        srcset="./img/benefits/ben6.png 1x, ./img/benefits/ben6x2.png 2x"
        alt="The starship"
      />
    </li>
  </ul>
</section>
