<footer>
  <div class="footer-container">
    <div class="footer-png">
      <!-- Mobile PNG (по умолчанию, скрываются на десктопе) -->
      <img
        src="/img/footer/footer-mobile.png"
        srcset="
          /img/footer/footer-mobile.png    1x,
          /img/footer/footer-mobile@2x.png 2x
        "
        alt="footer-mobile"
        class="footer-mobile-png"
        weight="100%"
        height="28"
      />

      <!-- Desktop PNG (по умолчанию скрыты, отображаются при 1200px+) -->
      <img
        src="./img/footer/footer-desk.png"
        srcset="
          ./img/footer/footer-desk.png    1x,
          ./img/footer/footer-desk@2x.png 2x
        "
        alt="footer-desktop"
        class="footer-desktop-png"
        weight="100%"
        height="28"
      />
    </div>

    <div class="footer-content">
      <nav>
        <ul>
          <li>
            <a href="./privacy-policy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="./terms-conditions.html">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Cookies Policy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-reserved">
      <h5>All Rights Reserved fusionstarforce.com | 2025</h5>
    </div>
  </div>
</footer>
