<footer>
  <div class="footer-container">
    <!-- Footer svg -->
    <svg class="footer-vector-1" width="320" height="24">
      <use href="/img/sprite.svg#decor"></use>
    </svg>
    <svg class="footer-vector-2" width="320" height="20">
      <use href="/img/sprite.svg#footer-vector-8"></use>
    </svg>
    <svg class="footer-vector-3" width="180" height="10">
      <use href="/img/sprite.svg#footer-group-15"></use>
    </svg>
    <div class="footer-content">
      <nav>
        <ul>
          <li>
            <a href="./privacy-policy.html">Privacy Policy</a>
          </li>
          <li>
            <a href="./terms-conditions.html">Terms & Conditions</a>
          </li>
          <li>
            <a href="#">Cookies Policy</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer-reserved">
      <h5>All Rights Reserved fusionstarforce.com | 2025</h5>
    </div>
  </div>
</footer>
