<section class="header">
  <a href="./index.html" class="header-logo">
    <img
      src="/img/logo.png"
      srcset="/img/logo.png 1x, /img/logo@2x.png 2x"
      alt="logo"
    />
  </a>

  <button class="menu-toggle js-menu-toggle">
    <img
      class="menu-icon"
      src="/img/header/menu.png"
      srcset="/img/header/menu.png 1x, /img/header/menu@2x.png 2x"
      alt="menu"
    />
    <img
      class="close-icon"
      src="/img/header/close.png"
      srcset="/img/header/close.png 1x, /img/header/close@2x.png 2x"
      alt="close"
    />
  </button>

  <a href="./index.html" class="header-logo-desktop">
    <img
      src="/img/logo-desktop.png"
      srcset="/img/logo-desktop.png 1x, /img/logo-desktop@2x.png 2x"
      alt="logo"
      width="60"
      height="60"
    />
  </a>

  <nav class="header-nav js-menu">
    <ul class="header-nav-list">
      <li><a href="./index.html#hero">Home</a></li>
      <li><a href="./index.html#benefits">Benefits</a></li>
      <li><a href="./index.html#about">About This Game</a></li>
      <li><a href="./index.html#how-to-play">How to Play</a></li>
      <li><a href="./index.html#faq">FAQ</a></li>
      <li><a href="./index.html#reviews">Reviews</a></li>
      <li><a href="./index.html#gallery">Gallery</a></li>
    </ul>
  </nav>
</section>
