<section class="container">
  <div class="hero">
    <div class="hero-content">
      <!-- Mobile version img -->
      <div class="hero-image-shadow">
        <div class="hero-image">
          <img
            src="/img/hero/hero-photo.png"
            srcset="/img/hero/hero-photo.png 1x, /img/hero/hero-photo@2x.png 2x"
            alt="Star Force"
          />
        </div>

        <div class="hero-shadow">
          <div class="shadow-line">
            <img
              src="/img/hero/shadow.png"
              srcset="/img/hero/shadow.png 1x, /img/hero/shadow@2x.png 2x"
              alt="Shadow"
            />
          </div>
        </div>
      </div>

      <div class="hero-desktop">
        <!-- Desktop version img -->
        <div class="hero-image-desktop">
          <img
            class="hero-image-desktop-img"
            src="/img//hero/hero-photo-desk.png"
            srcset="
              /img/hero/hero-photo-desk.png    1x,
              /img/hero/hero-photo-desk@2x.png 2x
            "
            alt="Star Force"
          />
        </div>

        <div class="shadow-line-desk">
          <img
            class="shadow-desk"
            src="/img/hero/shadow-desk.png"
            srcset="
              /img/hero/shadow-desk.png    1x,
              /img/hero/shadow-desk@2x.png 2x
            "
            alt="Shadow"
          />
        </div>

        <div class="hero-content">
          <div class="hero-title">
            <h1 class="hero-title-h1">
              Star Force <span class="hyphen">-</span>
            </h1>

            <p>Conquer the Galaxy, One Battle at a Time!</p>
          </div>

          <button class="hero-btn">
            <a
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.tbg.nova.gp&hl=ru&gl=us"
            >
              <div class="hero-btn-google-play">
                <img
                  src="/img/hero/google-play.png"
                  srcset="
                    /img/hero/google-play.png    1x,
                    /img/hero/google-play@2x.png 2x
                  "
                  alt="Icon Google Play"
                />
                <span>Google Play</span>
              </div>
            </a>
          </button>

          <div class="hero-description">
            <h4>
              "Prepare for an interstellar war like never before in Star Force!
              Take command of a powerful starship fleet, engage in intense space
              battles, and fight for supremacy across the cosmos. Customize your
              fleet, upgrade weapons, and outmaneuver enemies in breathtaking
              galactic warfare. Whether you’re a tactical mastermind or a
              fearless space explorer, Star Force delivers high-octane action,
              strategic depth, and stunning visuals that immerse you in the
              ultimate sci-fi battle experience!"
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
