<section class="how-to-play" id="how-to-play">
  <div class="container">
    <div class="section-title">
      <img
        class="section-title-group"
        src="./img/sectionbox/mobileSectBox.png"
        srcset="
          ./img/sectionbox/mobileSectBox.png    1x,
          ./img/sectionbox/mobileSectBox@2x.png 2x
        "
        alt="group"
      />
      <img
        class="section-title-group-desktop"
        src="./img/sectionbox/sectionbox.png"
        srcset="
          ./img/sectionbox/sectionbox.png    1x,
          ./img/sectionbox/sectionbox@2x.png 2x
        "
        alt="group"
      />
      <h1>How to Play</h1>
    </div>
    <div class="how-title">
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">01</span>
          </div>
          <h2 class="how-name">Build Your Fleet</h2>
        </div>

        <h4 class="how-desc">
          Unlock and customize a variety of starships, each with unique
          strengths and abilities.
        </h4>
      </div>
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">02</span>
          </div>
          <h2 class="how-name">Upgrade Your Arsenal</h2>
        </div>
        <h4 class="how-desc">
          Enhance your weapons, shields, and thrusters to gain a tactical edge.
        </h4>
      </div>
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">03</span>
          </div>
          <h2 class="how-name">Engage in Battles</h2>
        </div>
        <h4 class="how-desc">
          Command your fleet in real-time space battles, using strategy to
          outmaneuver opponents.
        </h4>
      </div>
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">04</span>
          </div>
          <h2 class="how-name">Conquer New Worlds</h2>
        </div>
        <h4 class="how-desc">
          Expand your territory, battle against alien forces, and uncover hidden
          resources.
        </h4>
      </div>
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">05</span>
          </div>
          <h2 class="how-name">Join the Galactic War</h2>
        </div>
        <h4 class="how-desc">
          Participate in large-scale conflicts where alliances shape the fate of
          the universe.
        </h4>
      </div>
      <div class="how-title-group">
        <div class="how-title-header">
          <div class="how-circle">
            <span class="how-number">06</span>
          </div>
          <h2 class="how-name">Compete in PvP Mode</h2>
        </div>
        <h4 class="how-desc">
          Challenge other players in ranked battles to prove your dominance.
        </h4>
      </div>
    </div>
  </div>
</section>
