<section class="container" id="reviews">
  <div class="section-title">
    <img
      class="decor-down"
      src="./img/decor/decor2.png"
      srcset="./img/decor/decor2.png 1x, ./img/decor/decor2X2.png 2x"
      alt="Decor of background"
    />
    <img
      class="decor-down-mobile"
      src="./img/decor/decor2mob.png"
      srcset="./img/decor/decor2mob.png 1x, ./img/decor/decor2X2mob.png 2x"
      alt="Decor of background"
    />
    <img
      class="section-title-group"
      src="./img/sectionbox/mobileSectBox.png"
      srcset="
        ./img/sectionbox/mobileSectBox.png    1x,
        ./img/sectionbox/mobileSectBox@2x.png 2x
      "
      alt="group"
    />
    <img
      class="section-title-group-desktop"
      src="./img/sectionbox/sectionbox.png"
      srcset="
        ./img/sectionbox/sectionbox.png    1x,
        ./img/sectionbox/sectionbox@2x.png 2x
      "
      alt="group"
    />
    <h1>Reviews</h1>
  </div>
  <div class="reviews-box">
    <!-- <div class="review-wrapper">
      <div class="main-block">
        <div class="review-text">
          "Fire! Mr. Gun is incredibly addictive! The controls are smooth and
          intuitive, which makes it easy to get right into the action. What I
          love most is the constant excitement of unlocking new weapons – each
          one feels unique and brings a fresh twist to the gameplay. It keeps
          things exciting and challenging, and I always look forward to what
          weapon I’ll unlock next. It's the perfect game for anyone who enjoys
          fast-paced action with plenty of variety.
        </div>
      </div>

      <div class="side-block">
        <div class="side-text">Anna Watson:</div>
      </div>
    </div> -->
    <img
      class="review-img-desctop"
      src="./img/reviews/review1.png"
      srcset="./img/reviews/review1.png 1x, ./img/reviews/review1X2.png 2x"
      alt="Review 1"
      width="648"
    />
    <img
      class="review-img-desctop"
      src="./img/reviews/review2.png"
      srcset="./img/reviews/review2X2.png 2x"
      alt="Review 2"
      width="648"
    />
    <img
      class="review-img-desctop"
      src="./img/reviews/review3.png"
      srcset="./img/reviews/review3X2.png 2x"
      alt="Review 3"
      width="648"
    />
    <img
      class="review-img-desctop"
      src="./img/reviews/review4.png"
      srcset="./img/reviews/review4X2.png 2x"
      alt="Review 4"
      width="648"
    />
    <img
      class="review-img-desctop"
      src="./img/reviews/review5.png"
      srcset="./img/reviews/review5X2.png 2x"
      alt="Review 5"
      width="648"
    />
    <img
      class="review-img-mob"
      src="./img/reviews/review1mob.png"
      srcset="
        ./img/reviews/review1mob.png   1x,
        ./img/reviews/review1X2mob.png 2x
      "
      alt="Review 1"
      width="288"
    />
    <img
      class="review-img-mob"
      src="./img/reviews/review2mob.png"
      srcset="./img/reviews/review2X2mob.png 2x"
      alt="Review 2"
      width="288"
    />
    <img
      class="review-img-mob"
      src="./img/reviews/review3mob.png"
      srcset="./img/reviews/review3X2mob.png 2x"
      alt="Review 3"
      width="288"
    />
    <img
      class="review-img-mob"
      src="./img/reviews/review4mob.png"
      srcset="./img/reviews/review4X2mob.png 2x"
      alt="Review 4"
      width="288"
    />
    <img
      class="review-img-mob"
      src="./img/reviews/review5mob.png"
      srcset="./img/reviews/review5X2mob.png 2x"
      alt="Review 5"
      width="288"
    />
  </div>
</section>
