.benefits-title-box {
  position: relative;
  display: inline-block;
  margin-top: 126px;
  margin-bottom: 30px;

  @include media(desktop) {
    margin-bottom: 46px;
  }
}

.benefits-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 600;
  left: 31px;
  @include font(24, 24);

  @include media(desktop) {
    left: 90px;
    @include font(40, 46);
  }
}

.benefits-list {
  width: 288px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  margin: 0 auto;

  @include media(desktop) {
    width: 936px;
  }
}

.benefits-list-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.benefits-item-title {
  display: inline;
  font-weight: 400;

  @include font(20, 24);

  @include media(desktop) {
    @include font(32, 30);
  }
}

.benefits-item-info {
  display: inline;
  font-weight: 300;

  @include font(16, 20);

  @include media(desktop) {
    font-weight: 400;
    @include font(20, 30);
  }
}

.img-benefits {
  width: 72px;

  @include media(desktop) {
    width: 168px;
  }
}
.reverse {
  flex-direction: row-reverse;
}

.shadow-right {
  box-shadow: 6px 6px 16px rgba(13, 33, 43, 100%);
}

.shadow {
  box-shadow: -6px 6px 16px rgba(13, 33, 43, 100%);
}
// .container-info {
//   // display: flex;
// }
