.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 16px;
  background: #0a1921;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-logo img {
  width: 20px;
  height: 20px;
}

.header-logo-desktop {
  display: none;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease-in-out;
}

.close-icon {
  display: none;
}

.menu-toggle.active .menu-icon {
  display: none;
}

.menu-toggle.active .close-icon {
  display: block;
}

.header-nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: rgba(10, 25, 33, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.header-nav-list {
  list-style: none;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  margin: 0;
}
.header-nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.header-nav-list a:hover {
  text-shadow: 0px 0px 6px rgba(255, 254, 251, 0.8), 0px 0px 3px #fffdf5,
    0px 0px 1px #fff6db;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d4c492;
}

.header-nav-list a:active {
  color: #a79561;
}

@media only screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    height: 80px;
    padding: 10px 36px;
  }

  .header-logo {
    display: none;
  }

  .header-logo-desktop {
    display: block;
  }

  .header-logo-desktop img {
    width: 60px;
    height: 60px;
  }

  .menu-toggle {
    display: none;
  }
  .header-nav {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    height: auto;
    padding: 0;
    transform: none;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
