.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 16px;
  background: #0a1921;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-nav {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease-in-out;
  visibility: hidden;
  z-index: 999;
}

.overlay.active {
  background: rgba(0, 0, 0, 1);
  visibility: visible;
}

.header-logo img {
  width: 20px;
  height: 20px;
}

.header-logo-desktop {
  display: none;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-toggle img {
  width: 20px;
  height: 20px;
  transition: opacity 0.3s ease-in-out;
}

.close-icon {
  display: none;
}

.menu-toggle.active .menu-icon {
  display: none;
}

.menu-toggle.active .close-icon {
  display: block;
}

.header-nav-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.header-nav-list li {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Когда меню активно, ссылки выезжают по очереди */
.header-nav.active .header-nav-list li {
  opacity: 1;
  transform: translateX(0);
}

/* Плавное появление поочередно */
.header-nav.active .header-nav-list li:nth-child(1) {
  transition-delay: 0.1s;
}
.header-nav.active .header-nav-list li:nth-child(2) {
  transition-delay: 0.2s;
}
.header-nav.active .header-nav-list li:nth-child(3) {
  transition-delay: 0.3s;
}
.header-nav.active .header-nav-list li:nth-child(4) {
  transition-delay: 0.4s;
}
.header-nav.active .header-nav-list li:nth-child(5) {
  transition-delay: 0.5s;
}
.header-nav.active .header-nav-list li:nth-child(6) {
  transition-delay: 0.6s;
}
.header-nav.active .header-nav-list li:nth-child(7) {
  transition-delay: 0.7s;
}

.header-nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s;
}

.header-nav-list a:hover {
  text-shadow: 0px 0px 6px rgba(255, 254, 251, 0.8), 0px 0px 3px #fffdf5,
    0px 0px 1px #fff6db;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d4c492;
}

.header-nav-list a:active {
  color: #a79561;
  text-shadow: none;
}

.header-nav-list a.active {
  color: #a79561;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d4c492;
}

@media only screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
    height: 80px;
    padding: 10px 36px;
  }

  .header-logo {
    display: none;
  }

  .header-logo-desktop {
    display: block;
  }

  .header-logo-desktop img {
    width: 60px;
    height: 60px;
  }

  .menu-toggle {
    display: none !important;
  }
  .header-nav {
    position: static;
    display: flex;
    flex-direction: row;
    background: transparent;
    height: auto;
    padding: 0;
    transform: none;
    justify-content: flex-end;
    flex-grow: 1;
    max-height: none;
    overflow: visible;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .header-nav-list li {
    opacity: 1;
    transform: none;
    transition: none;
  }
}

html {
  scroll-behavior: smooth;
}
