.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 36px;
  height: 108px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  // position: absolute;
  z-index: 1000;
  background: #0a1921;
}

.header-mobile {
  width: 100%; /* Теперь он адаптируется к экрану */
  max-width: 375px; /* Но не больше 375px */
  margin: 0 auto;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between; /* Логотип слева, кнопка справа */
  align-items: center;
  background: #0a1921;
  box-sizing: border-box;
  overflow: visible;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header-logo-mobile {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.header-logo-mobile img {
  display: block;
  width: 20px;
  height: 20px;
  clip-path: inset(1px);
}

.header-logo-mobile::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #a79561;
  border-radius: 4px;
  z-index: 1;
}

.header-logo-mobile img {
  z-index: 0;
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  padding: 0;

  flex-shrink: 0;
}

.menu-toggle svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.header-nav-mobile {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(10, 25, 33, 0.95);
  z-index: 999; /* Чуть ниже основного хедера */
  padding: 20px;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.header-nav-mobile.active {
  transform: translateX(0);
}

.header-nav-list-mobile {
  list-style: none;
  margin: 0;
  padding: 20px 0 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header-nav-item-mobile {
  margin: 0;
}

.header-nav-link-mobile {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.header-nav-link-mobile:hover {
  color: #a79561;
}

.js-close-menu {
  align-self: flex-end;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1200px) {
  .header-mobile {
    display: none !important;
  }
}

//------------Desktop Header----------------

@media only screen and (max-width: 1199.98px) {
  .header-desktop {
    display: none !important;
  }
}

.header-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 108px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.header-logo-desktop {
  position: relative;
  left: 0;
  transform: none;
}
.header-nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.header-nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
