.hero {
  padding: 56px 0 60px 0;
}

.hero-image {
  width: 289px;
  height: 204px;
  flex-shrink: 0;
  position: relative;
}

.hero-image-shadow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-bottom: 42px;
}

.shadow-line {
  width: 100%;
}

.hero-shadow {
  position: absolute;
  bottom: -40px;
  left: 65%;
  transform: translateX(-50%);
  width: 100%;
}

.hero-title {
  margin-bottom: 32px;
}

.hero-title-h1 {
  color: var(--text, #fff);
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 900;
  line-height: 32px;
  margin-bottom: 8px;
}

.hero-title-h1 span {
  color: var(--text, #fff);
  font-family: Orbitron;
  font-size: 36px;
  font-weight: 400;
  line-height: 32px;
}

.hero-title p {
  font-family: Orbitron;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.hero-btn {
  display: flex;
  width: 288px;
  height: 58px;

  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 2px solid #a79561;
  background: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.hero-btn a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.hero-btn-google-play {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-btn-google-play img {
  height: 24px;
  width: auto;
}

.hero-btn-google-play span {
  color: #1e1e1e;
  font-family: Inter, sans-serif;
  font-size: 24px;
  font-weight: 400;
  white-space: nowrap;
}

.hero-btn:hover {
  box-shadow: 0px 0px 8px 0px rgba(255, 254, 251, 0.8), 0px 0px 6px 0px #fffdf5,
    0px 0px 2px 0px #fff6db;
}

.hero-btn:active,
.hero-btn:focus {
  border: 2px solid #000000;
  background: #fff;
  box-shadow: none;
  outline: none;
}

.hero-description {
  margin-top: 40px;
}

.hero-description h4 {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
}

.hero-image-desktop {
  display: none;
}

.shadow-line-desk {
  display: none;
}

@media (min-width: 1200px) {
  .hero-image {
    display: none;
  }

  .hero-shadow {
    display: none;
  }

  .shadow-line-desk {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 83%;
    z-index: 1;
  }

  .hero {
    padding: 140px 0 126px 0;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }

  .hero-content {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 25px;
  }

  .hero-image {
    display: none;
  }

  .hero-desktop {
    display: flex;
    position: relative;
    gap: 25px;
  }

  .hero-image-desktop {
    display: flex;
    position: relative;
    width: 456px;
    height: 595px;
    z-index: 2;
  }

  .hero-image-desktop-img {
    position: absolute;
    left: -36px;
    top: 0;
    min-width: 492px;
    height: 595px;
    flex-shrink: 0;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 647px;
  }

  .hero-title {
    margin-bottom: 24px;
    width: 647px;
  }

  .hero-title-h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 64px;
  }

  .hero-title-h1 span {
    font-size: 80px;
    font-weight: 400;
    line-height: 64px;
  }

  .hero-title p {
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
  }

  .hero-description {
    margin-top: 0;
    margin-bottom: 40px;
    width: 647px;
  }

  .hero-description h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .hero-btn {
    width: 256px;
    height: 68px;
  }
  .hero-btn-google-play {
    gap: 10px;
  }
  .hero-btn {
    order: 2;
  }

  .hero-description {
    order: 1;
  }
}
