.section {
  padding: 40px 0;

  @include font(14, 20);
  font-weight: 300;

  @include media(desktop) {
    padding-top: 100px;
    padding-bottom: 60px;

    font-weight: 400;
    @include font(20, 30);
  }
}

.go-home {
  display: flex;
  align-items: center;
  gap: 6px;
  position: fixed;
  width: 308px;
  top: 0px;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 10px;

  // padding: 100px 10px 10px 5px;
  // border-radius: 16px;
  margin-left: -10px;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

  @include media(desktop) {
    height: 140px;
    top: 0px;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 1148px;
  }
}

.go-home.scrolled {
  background-color: rgba(10, 25, 33, 0.8);
  backdrop-filter: blur(5px);
  z-index: 10;
  // box-shadow: 0px 0px 6px rgba(255, 254, 251, 0.8), 0px 0px 3px #fffdf5,
  //   0px 0px 1px #fff6db;
}

.go-home:hover a,
.go-home:focus a {
  // color: #a79561;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 100%);
  text-shadow: 0px 0px 3px rgba(255, 253, 245, 100%);
  text-shadow: 0px 0px 1px rgba(255, 246, 219, 100%);
  text-shadow: 0px 0px 6px rgba(255, 254, 251, 0.8), 0px 0px 3px #fffdf5,
    0px 0px 1px #fff6db;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #d4c492;
}

.go-home:hover img {
  filter: drop-shadow(
    0px 0px 6px rgba(255, 254, 251, 0.8),
    0px 0px 3px #fffdf5,
    0px 0px 1px #fff6db
  );
}

.title {
  margin-top: 40px;
  margin-bottom: 20px;

  @include media(desktop) {
    margin-top: 80px;
    margin-bottom: 40px;
  }
}

.main-info {
  margin-bottom: 30px;
}

.one-item {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include media(desktop) {
    gap: 20px;
  }
}

.one-item:not(:last-child) {
  margin-bottom: 24px;
  @include media(desktop) {
    margin-bottom: 30px;
  }
}

.item-marked {
  position: relative;
  margin-left: 30px;
}

.item-marked::before {
  content: '●';
  font-size: 5px;

  margin-top: 7px;
  text-decoration: none;
  position: absolute;
  left: -18px;

  @include media(desktop) {
    font-size: 8px;
    margin-top: 9px;
    left: -18px;
  }
}

.link {
  text-decoration: underline;
}

.terms {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inline {
  display: inline;
  word-break: break-all;
}
