@import './header.scss';
@import './footer.scss';
@import './hero.scss';
@import './benefits.scss';
@import './about.scss';
@import './how-to-play.scss';
@import './faq.scss';
@import './gallery.scss';
@import './privacy-policy.scss';
@import './cookie-popup.scss';

:root {
  font-family: 'Montserrat', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: #0a1921;
  color: #ffffff;
}

.background {
  background-image: linear-gradient(
    92.58deg,
    #111a1f 0.48%,
    #375463 48.33%,
    #111a1f 96.17%
  );
}

.container {
  width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include media(desktop) {
    width: 1200px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

body.polisy h1 {
  @include font(20, 30);

  @include media(desktop) {
    @include font(32, 30);
  }
}

body.polisy h2 {
  font-size: 14px;
  font-weight: 500;

  @include media(desktop) {
    font-size: 20px;
    font-weight: 600;
  }
}
